header #hamburger {
    display: inline;
    float: right;
    width: 30px;
    height: 16px;
    cursor: pointer;
    z-index: 31;
    margin-top: 0.25rem;
}

#hamburger span {
    display: block;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    width: 30px;
}

#hamburger span:nth-child(2) {
    margin-top: 11px;

}

#hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(0px, 9px);
}

#hamburger.active span:nth-child(2) {
    transform: rotate(45deg) translate(0px, -9px);
}

@media only screen and (min-width: 600px) {
    #hamburger {
        margin-top: 0.75rem;
    }
}

/* md */
@media only screen and (min-width: 768px) {
    #hamburger {
        display: none !important;
    }
}