@import url("./reset.css");

@import url("./layout/header.css");
@import url("./layout/hamburger-button.css");
@import url("./layout/overlay-menu.css");
@import url("./layout/navigation.css");
@import url("./layout/social-media-links.css");
@import url("./layout/content.css");
@import url("./layout/contact-form.css");

html,
body {
    height: 100%;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: #0A0C10;
    font-size: 17px;
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Courier New", "Courier Prime", monospace;
    font-size: 91%;
    line-height: 1.348rem;
}

p,
li,
label,
input[type=submit] {
    font-size: 1.049rem;
}

.detail {
    font-size: 0.97rem;
}

h1,
h2,
h3,
header {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

header,
#overlay-menu {
    background-color: #0A0C10;
    color: #afbbcf;
}

header h1,
.navigation li {
    font-size: 1.22rem;
    font-weight: 550;
}

header a:link,
header a:visited,
#overlay-menu a:link,
#overlay-menu a:visited {
    color: white;
    text-decoration: none;
}

.navigation a,
#overlay-menu a {
    font-weight: 475;

}

.navigation a:hover {
    color: #afbbcf !important;
}

.clear-both {
    clear: both;
}

.lowvis {
    display: none !important;
}

#hamburger span {
    background-color: #FFFFFF
}

.social-media-links img {
    filter: invert(100%) sepia(26%) saturate(0%) hue-rotate(192deg) brightness(105%) contrast(106%);
}

.w-content-footer p,
.w-content-footer li {
    color: #0A0C10;
}

.w-content-footer li {
    margin-left: 1.348rem;
}

.w-content-footer p,
.w-content-footer pre,
.w-content-footer li {
    margin-bottom: 0.685rem;
}

.w-content-footer {
    background-color: #FFFFFF;
}

.w-content-footer a:link,
.w-content-footer a:visited {
    color: #394560;
}

.w-content-footer .detail {
    font-weight: 400;
}

.w-content-footer a:link,
.w-content-footer a:visited {
    font-weight: 600;
}

.w-content-footer a:hover {
    color: #0A0C10;
}

.w-content-footer strong {
    font-weight: 650;
    color: #000000;
}

.w-content-footer em {
    font-style: italic;
}

.w-content-footer ul {
    list-style: disc;
}

.w-content-footer ol {
    list-style: decimal;
}

.w-content-footer ul,
.w-content-footer ol {
    margin-bottom: 0.927rem;
}

.w-content-footer p,
.w-content-footer li {
    line-height: 1.489rem;
    font-weight: 450;
}

.w-content-footer p code,
.w-content-footer li code {
    color: #000000;
    background-color: #EEF3FA;
    padding: 0 0.299rem;
}

.w-content-footer code.hljs {
    background-color: #0A0C10 !important;
}

.w-content-footer h1,
.w-content-footer h2,
.w-content-footer h3 {
    color: #000000;
}

.w-content-footer h2,
.w-content-footer h3 {
    margin-bottom: 0.19rem;
}

.w-content-footer h1 {
    align-self: flex-end;
    font-size: 1.65rem;
    line-height: 1.816rem;
    font-weight: 550;
}

.w-content-footer h2 {
    font-size: 1.49rem;
    line-height: 1.816rem;
    margin-top: 1.816rem;
    font-weight: 550;
}

.w-content-footer h3 {
    font-size: 1.22rem;
    line-height: 1.489rem;
    margin-top: 1.489rem;
    font-weight: 550;
}

footer div {
    border-top: 1px solid #0A0C10;
}

.notice {
    background-color: #bfbfbf;
    padding: 11px;
}

.notice.success {
    background-color: #a7f76e;
}

.notice.error {
    background-color: #f98686;
}

.w-content-footer input[type=text],
.w-content-footer textarea {
    border: 1px solid #AFBBCF;
}

.w-content-footer input[type=submit] {
    border: none;
    border-radius: 0px;
    background-color: #0A0C10;
    color: white;
    cursor: pointer;
}

.w-content-footer input[type=submit]:hover {
    background-color: #AFBBCF;
    color: #0A0C10;
}

.w-content-footer input[type=submit]:active {
    background-color: white;
    color: #0A0C10;
}

.post-summary h2 {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
    font-size: 1.049rem !important;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .w-nameplate a {
        border-bottom: 2px solid #4CA90A;
    }
}