RewriteEngine On

<FilesMatch ".*.php">
    Order allow,deny
    Deny from all
    Satisfy all
</filesMatch>

<Files index.php >
    Order allow,Deny
    Allow from all
    Satisfy all
</Files>

RedirectMatch 408 /[Aa]dmin.*
RedirectMatch 408 /(.git|.well-known|[Aa]ssets|cgi-bin|files|index|libraries|modules|shop|test|wp-.*|[Ww]ord[Pp]ress)/
RedirectMatch 408 /(css|images)/index.php

ErrorDocument 404 /404/

# Remove "index.html"
#RewriteRule (.*)index\.html$ /$1 [R=301,NC]

RewriteRule ^blog/posts/$ /blog/ [R=301,NC,L]

# "Defining Operations by Describing What's Valuable: Unpacking Some Benefits of Text-Driven BDD Testing That Don't Seem to Get Mentioned as Often"
RewriteRule ^blog/posts/defining_opertaions_by_describing_whats_valuable_unpacking_some_benefits_of_bdd_that_dont_seem_to_get_mentioned_as_often/? /blog/?p=13 [R=permanent,NC,L]