.post-summary {
    width: 100%;
    height: auto;
    aspect-ratio: 567 / 459;
}

#content h2 {
    margin-top: 0;
}

#content time {
    display: block;
}

.post-summary picture {
    width: 100%;
}

.post-summary img, .post-summary source {
    width: 100%;
    aspect-ratio: 1.618 / 1;
    object-fit: cover;
}

.post-summary h2 {
    display: block;
    margin-top: 1.6471rem;
}

@media only screen and (min-width: 768px) {
    .post-summary {
        aspect-ratio: 913 / 216 !important;
    }

    .post-summary picture {
        width: 29% !important;
        margin-top: 1.1%;
        margin-left: 6.8%;
        float: right;
    }
}