form .wrapper {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

form div {
    margin-top: 1.25rem;
    clear: both;
}

input[type=text],
textarea {
    float: left;
    border-radius: 0px;
    margin-bottom: 0.75rem;
    min-width: 333px;
    max-width: 333px;
    padding: 0.25rem 0.5rem;
}

textarea {
    min-height: 4.0rem;
}

input[type=submit] {
    float: left;
    height: 32px;
    padding: 0 1.0rem;
    margin-top: 0.75rem;
    margin-right: 0.125rem;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.375rem;

}

@media only screen and (min-width: 600px) {
    label {
        display: inline-block;
        width: 66px;
    }

    textarea,
    input[type=text],
    input[type=submit] {
        float: right;
    }

    form .wrapper {
        margin: 0 66px auto 66px;
        max-width: 558px;
    }

}