#overlay-menu {
    position: fixed;
    top: -3.7059rem;
    left: 0;
    height: 0;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
    transition: 0.3s;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#overlay-menu.active {
    top: 0;
    display: block;
    height: 100%;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    #overlay-menu ul {
        margin-top: 4.4118rem;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    #overlay-menu {
        display: none;
    }
}