.w-page {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

#content .w-content-header {
    min-height: 126px;
}

#content,
footer,
.w-more-info {
    padding: 16px 16px 14px;
    box-sizing: border-box;
}

#content {
    padding-top: 67px;
}

#content .w-page-title {
    display: flex;
    box-sizing: border-box;
    min-height: 86px;
}

#content .w-page-title h1 {
    align-self: flex-end;
}

#content img {
    width: 100%;
}

#content hr {
    margin-top: 11px !important;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    width: 100%;
    margin-top: auto;
    min-height: 51px;

}

footer p,
#content .s-match-footer p {
    margin-top: 12px;
}

@media only screen and (min-width: 600px) {

    #content,
    footer,
    .w-more-info {
        padding: 19px 19px 16px;
    }

    #content {
        padding-top: 85px;
    }

    #content .w-page-title {
        min-height: 70px;
    }

    #content .w-content-header {
        min-height: 120px;
    }

    footer,
    #content .s-match-footer {
        min-height: 51px;
    }

    footer p,
    #content .s-match-footer p {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {

    #content,
    footer {
        max-width: 967px;
    }

    #content,
    footer,
    .w-more-info {
        padding: 27px 27px 19px;
    }

    #content .w-content-header {
        min-height: 156px;
    }

    #content .w-page-title {
        min-height: 109px;
    }

    /* footer {
        padding-bottom: 27px;
    } */

}

@media only screen and (min-width: 768px) and (orientation: landscape) {

    #content,
    footer,
    .w-more-info {
        padding-right: 19px;
        padding-left: 312px;

        max-width: 987px;
        min-width: 987px;
    }

    #content {
        padding-top: 19px;
    }

    #content .w-content-header {
        min-height: 171px;
    }

    #content .w-page-title {
        padding-top: 0;
        min-height: 144px;
    }
}

@media only screen and (min-width: 1260px) and (orientation: landscape) {
    main {
        max-width: 1280px;
        flex-direction: row;
    }

    .w-more-info {
        background-color: #ffffff !important;

        margin-top: 191px;
        padding-left: 0px;
        padding-top: 0px;

        min-width: 260px;
        max-width: 260px;
    }

}